<!DOCTYPE html>
<html lang="en">
    <%- include('_header') -%>

    <body>
        <h1>cheriya.link</h1>
        <p>An URL shortener built with love.</p>
        <a href="/auth/login">Login</a><br>
        <a href="/auth/register">Register</a>
    </body>
</html>